.contact-us {
  padding-top: 60px;
  padding-bottom: 60px;
  .alert {
    border-radius: 10px;
    color: #222b45;
  }
  .contact-card {
    width: 540px;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    padding: 60px 60px;
    margin: auto;
    @media (max-width: 480px) {
      width: 100%;
      padding: 20px;
    }
    h3 {
      color: #222b45;
      font-size: 30px;
      font-family: "Cairo-Bold";
      @media (max-width: 480px) {
        font-size: 20px;
      }
    }
  }
}
