.category {
  padding-bottom: 30px;
  .category-header {
    height: 370px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
    padding-bottom: 60px;
  }

  .products-container {
    .product {
      margin-bottom: 15px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  h3 {
    font-size: 30px;
    color: #15a5ec;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .date {
    margin-top: 0;
    margin-bottom: 50px;
    color: #b9b9b9;
    font-size: 12px;
  }
  .content {
    margin-top: 0;
    margin-bottom: 0;
    color: #717171;
  }
}
