.product-card {
  background: #fff;
  padding: 15px;
  cursor: pointer;
  img {
    max-height: 210px;
    line-height: 210px;
    margin: auto;
    width: 100%;
    max-width: 100%;
  }
  h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 30px;
    line-height: 30px;
    overflow-y: hidden;
    width: 86%;
  }
  p {
    color: #25b28f;
    font-size: 16px;
  }
}
