.home {
  .slick-slide > div {
    margin: 0 15px;
  }
  .categories {
    .category-contianer {
      margin-bottom: 100px;
      .ctegory-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
      }
    }
  }
}
