main {
  margin-top: 55px;
  background: #eef2f5;
  .slick-next,
  .slick-prev {
    width: 30px;
    height: 30px;
  }
  .slick-prev:before,
  .slick-next:before {
    color: #25b28f;
    font-size: 30px;
  }
  h3 {
    color: #222b45;
    font-size: 25px;
    font-family: "cairo-Bold";
  }
  .show-all {
    font-size: 16px;
    color: #25b28f;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 0;
    border: 2px solid #25b28f;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    &:hover {
      text-decoration: none;
      color: #fff;
      &:before {
        top: 0;
        left: 0;
      }
    }
    &:before {
      width: 100%;
      height: 100%;
      content: "";
      margin: auto;
      position: absolute;
      top: -100%;
      left: -100%;
      background: #25b28f;
      transition: all 0.5s;
      z-index: -1;
    }
  }
}
