.all_news {
  padding-left: 40px;
  padding-right: 40px;
  .news_header {
    p {
      font-size: 20px;
      font-weight: bold;
      color: #0c0c0c;
      margin-bottom: 30px;
    }
  }
  .all_news_footer {
    text-align: center;
    margin-bottom: 30px;
    button {
      background: #fff;
      color: #0c0c0c;
      border-radius: 5px;
      height: 40px;
      line-height: 40px;
      width: 120px;
      text-align: center;
      border: none;
      padding: 0;
      white-space: nowrap;
      border: 1px solid #dad7d7;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }
}
