@font-face {
  font-family: "cairo-regular";
  src: url("./assests/Fonts/Cairo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "cairo-Bold";
  src: url("./assests/Fonts/Cairo-Bold.ttf") format("truetype");
}
html {
  overflow-x: hidden;
}
body {
  font-family: "cairo-regular";
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}
